
<title>Project Four: Soojee's Recipes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="http://www.pngmart.com/files/4/Cooking-Transparent-PNG.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="js/frontend_app.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">




