<!DOCTYPE html>
<html lang="en">
<head>
    <title>MEAN demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="http://www.stream2watch.cc/images/categories/4/64x64/14616606297074.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/frontend_app.js"></script>

</head>
<body>
    <h1>MEAN demo</h1>

</body>
</html>
