body {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #70e1f5, #ffd194);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #70e1f5, #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 120%;
    padding-top: 100px;

}

.navbar {
    color: whitesmoke;
    background-color: #00cc66;
}

/* a {
    color: whitesmoke;
} */

footer {
    padding: 2em;
    position: relative;
    bottom: 0;
    left: 60%;
    margin-left: -200px;
    /*negative half the width */
    width: 400px;
    height: 100px;
}


h1 {
    
    color: lightslategray;
}

h4 {
    color: whitesmoke;
}

label {
    color: whitesmoke;
}

background {
    background-image: url("../images/kimchi.jpg");
}

.stars {
    height: 2em;
}

button {
    padding: 1em;
}

.very_easy {
    background-color: lightcyan;
}

.easy {
    background-color: lightblue;
}

.normal {
    background-color: lightsalmon;
}

.hard {
    background-color: lightpink;
}

.very_hard {
    background-color: lightcoral;
}