body {
    padding-top: 100px;
    background-color: #080808;
}

.navbar {
    color: whitesmoke;
    background-color: #00cc66;
}

/* a {
    color: whitesmoke;
} */

footer {
    padding: 2em;
    position: relative;
    bottom: 0;
    left: 60%;
    margin-left: -200px;
    /*negative half the width */
    width: 400px;
    height: 100px;
}


h1 {
    left: 50%;
    color: whitesmoke;
}

h4 {
    color: whitesmoke;
}

label {
    color: whitesmoke;
}

background {
    background-image: url("../images/kimchi.jpg");
}

.stars {
    height: 2em;
}

button {
    padding: 1em;
}

.very_easy {
    background-color: lightcyan;
}

.easy {
    background-color: lightblue;
}

.normal {
    background-color: lightsalmon;
}

.hard {
    background-color: lightpink;
}

.very_hard {
    background-color: lightcoral;
}