body {
    padding-top: 60px;
}
footer{
    padding: 2em;
    position: relative;
    bottom:0;
    left:60%;
    margin-left:-200px; /*negative half the width */
    width:400px;
    height:100px;
}
p{
    position: relative;
}

/* form styling */

#form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}


/* we will style the span as the circled number */

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons turn light green-blue*/

#status-buttons a.active span {
    background: #009871;
}

.form-views.ng-animate{
    /* fix forms to top of cotnaining div */
    position: absolute;
}
/* enter animation */
.form-views.ng-enter {
  animation: slideInRight 0.5s both ease;
}

/* leave animation */

.form-views.ng-leave {
  animation: slideOutLeft 0.5s both ease;
}


/* ANIMATIONS
============================================================================= */

/* slide out to the left */
@keyframes slideOutLeft {
  to {
    transform: translateX(-1000%);
  }
}

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(1000%);
  }
  to {
    transform: translateX(0);
  }
}