<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../partials/nav.ejs %>
                <% include ../partials/head.ejs %>

</head>

<body>
        <div class="about">
                <img src="images/soojee.jpg" alt="soojee" class="mom-img">
                <img src="images/kimchi.jpg" alt="bibimbap" class="kimchi">
                        <div class="kimchitxt">
                                <h2><span>Welcome to my website!</span></h2></br>
                                <p><span> Hello and welcome to my website! </br>My name is Soojee and I love to cook!</br> Lorem ipsum dolor,</br>
                                        sit amet consectetur adipisicing elit. </br>Aut alias nostrum dolore iste aliquid </br>veniam
                                        laboriosam sit omnis,</br> mollitia, deleniti magni molestias eligendi </br>facilis ut quae
                                        iure repellat corrupti </br>excepturi hic! Sunt omnis odit quia minus </br>repudiandae quisquam
                                        quaerat. </br>Vel eius modi expedita porro </br>non iste, quidem ut facere </span></p>
                        </div>
           

        </div>
        <% include ../partials/footer.ejs %>

</body>

</html>