<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
        
</head>
<body>

        <div ng-view></div>
        
            <div ng-controller="data">
                <p>No. of recipes: {{recipes.length}}</p>
                <h4>{{message}}</h4>
                <h2>CREATE</h2>
                <form name="userForm" ng-submit="submitForm(userForm.$valid" novalidate>
                    <div>
                        <label>Number</label>
                </form>
                </div>
                
        <form ng-controller="single_recipe"> 
                <p>
                    <input type="text" ng-model="recipe.number">
                </p>
                <p>
                        <input type="text" ng-model="recipe.korean_name"> 
                </p>
                <p>
                        <input type="text" ng-model="recipe.english_name"> 
                </p>
                <p>
                        <input type="text" ng-model="recipe.description"> 
                </p>
                <p>
                        <input type="text" ng-model="recipe.ingredients"> 
                </p>
                <p>
                        <input type="text" ng-model="recipe.preparation_time"> 
                </p>
                <p>
                        <input type="text" ng-model="recipe.cooking_time"> 
                </p>
                <p>
                        <input type="text" ng-model="recipe.instructions"> 
                </p>
                <button ng-click="update(recipe)">UPDATE</button>
                <button ng-click="delete(recipe)">DELETE</button>
                
                <p>{{message}}</p>
            </form>
</body>
<% include ../partials/footer.ejs %>

</html>