<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head.ejs %>
        
</head>
<body>
    <h1>Bulgogi 불고기</h1>
        <% include ../partials/footer.ejs %>
        
</body>
</html>